# Ignore nvim packer plugin installations
/.config/nvim/plugin/

# Ignore zcompdump files
/.config/zsh/*.zcompdump*

# JetBrains Toolbox paths can't be used with different users
/.config/autostart/jetbrains-toolbox.desktop
