# Ignore nvim packer plugin installations
/.config/nvim/plugin/

# Ignore zsh plugin installations
/.config/zsh/plugins/

# Ignore zsh theme installations
/.config/zsh/themes/

# Ignore zcompdump files
/.config/zsh/*.zcompdump
