! URxvt global settings
URxvt*background: rgba:0000/0000/0200/c800
URxvt*depth: 32
URxvt*font: xft:MesloLGS NF:size=11:pixelsize=15
URxvt.foreground: white
URxvt*geometry: 400x400+0+0
URxvt*inheritPixmap: true
URxvt.matcher.button: 1
URxvt*saveLines: 1000
URxvt*scrollBar: false
URxvt*secondaryScroll: true
URxvt*shading: 70
URxvt.urlLauncher: firefox


! URxvt tabbed settings
URxvt.tabbed.tab-bg: 1
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tabbar-fg: 3
