URxvt.saveLines: 1000
URxvt.scrollBar: false
URxvt.foreground: white
URxvt*depth: 32
URxvt*background: rgba:0000/0000/0200/c800
URxvt.secondaryScroll: true
URxvt.font: xft:MesloLGS NF:size=11:pixelsize=15
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1
URxvt.tabbed.saveLines: 1000
URxvt.tabbed.scrollBar: false
URxvt.tabbed.tabbar-fg: 3
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg: 0
URxvt.tabbed.tab-bg: 1
URxvt.tabbed.secondaryScroll: true
URxvt.tabbed.font: xft:MesloLGS NF:size=11:pixelsize=15
URxvt*inheritPixmap: true
URxvt*shading: 70
URxvt*geometry: 400x400+0+0
